@charset "UTF-8";

body {
    margin: 0;
    background: black;
    font-family: 'Nunito', sans-serif;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 10px;
    transition: 1s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

#navbar a {
    float: left;
    color: white;
    text-align: center;
    margin-top: 15%;
    padding-left: 22px;
    padding-right: 22px;
    text-decoration: none;
    font-size: 19px;
}#navbar #logo {
    width: 100px;
}#navbar a:hover {
    border-bottom: solid 1px #ffd700;
    transition-timing-function: ease;
}#navbar a.active {
    color: #ffd700;
}#navbar-right {
    float: right;
}h1#nav-text {
    color: #06b38f;
    font-weight: 800;
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 30px;
}.prvaslika {
    opacity: 0.5;
    height: 800px;
    width: 100%;
}.game-picker {
    background-color: #101820FF;
    height: 400px;
    width: 100%;
}.game-picker span {
    height: 100%;
    display: inline-block;
    vertical-align: middle;

}.game-picker img {
    width: 220px;
    vertical-align: middle;

}.lol:hover {
    background-image: url(images/lol-hover.png);
    background-position: center;
    background-size: contain;
    padding: 220px 220px 0 0;
    width: 0;
    height: 0;
}
.dota {
    margin-left: 33%;
}
.dota:hover {
    background-image: url(images/dota-hover.png);
    background-position: center;
    background-size: contain;
    padding: 220px 220px 0 0;
    width: 0;
    height: 0;
}

.csgo {
    margin-left: 31%;
}

.csgo:hover {
    background-image: url(images/csgo-hover.png);
    background-position: center;
    background-size: contain;
    padding: 220px 220px 0 0;
    width: 0;
    height: 0;

}

.img-text {
    position: relative;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

#imgtext1 {
    position: absolute;
    color: #97DC21;
    text-shadow: 5px 4px 2px black;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.1);
    top: 50%;
    padding-left: 20px;
    padding-right: 20px;
    left: 25%;
}

.img1 {
    height: 500px;
    width: 100%;
    filter: blur(6px);
}

.battle {
    background-color: #101820FF;
    height: 400px;
    background-image: url(images/sword.png);
    background-size: 400px;
    background-position: left;
    background-repeat: round;
    background-attachment: fixed;
}

.battle2 {
    background-color: #101820FF;
    height: 500px;
    background-image: url(images/sword.png);
    background-size: 500px;
    background-position: left;
    background-repeat: round;
}

.button {
    background-color: #06b38f;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.8s;
    cursor: pointer;
    position: absolute;
    top: 80%;
    left: 50%;
}

.button:hover {
    background-color: #75fee1;
    color: black;
}

.login {
    height: 300px;
    background-color: #101820FF;
    position: relative;
    width: 100%;
}

.reg-text {
    color: #ffd700;
    font-size: 22px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
}
@media screen and (max-width: 750px) {
    #navbar {
        padding: 20px 10px;
        position:static;
    }

    #navbar a {
        float: none;
        display: block;
        text-align: left;
    }

    #navbar-right {
        float: none;
    }
    #nav-text{
        display: none;
    }
    .prvaslika{
        width: 100%;
        height: 200px;
    }
    .gamepicker{
        width: 100%;
        height: 400px;
        position: relative;
        
    }
    .gamepicker span{
        display:none;
    }
    .lol{
        display: block;
        float: left;
    }
    .dota{
        display: block;
        float: left;
        margin: 0;
    }
    .csgo{
        display: block;
        float: left;
        margin: 0;
    }
    .reg-text{
        font-size: 20px;
        text-align: justify;
    }
    .battle{
        background-attachment:inherit;
    }
}
